# === BẢO MẬT ===
# Chặn file key bí mật của Firebase (trong BẤT KỲ thư mục resources nào)
**/src/main/resources/*.json

# === Thư mục Build của Maven ===
**/target/

# === File Log ===
*.log
*.log.*

# === Cấu hình IDE & Editor ===
.vscode/
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
nbproject/
build/
dist/

# === File hệ thống ===
.DS_Store
Thumbs.db